@import "tailwindcss";

@theme {
  --color-background-color: #FFF3F3;
  --color-background-black:#000000;
  --color-color: #FEC5C5;
  --color-background-gray:#A0A0A0;
  --color-background-light-gray:#D9D9D9;
  --color-background-purple:#A16BFF;
}


.custom-times {
  font-family: "Times New Roman", Times, serif;
}

.font-inter {
  font-family: "Inter";
}


@keyframes scroll {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-50%);
  }
}


#big-filter-box #search-box {
  display: none;
}

